<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado del Actor</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partials/header') %>
    
    <h1>Estas seguro de querer borrar este actor: <%= actor.first_name %> <%= actor.last_name %>???</h1>
    <p>
        <form action="/actors/delete/<%= actor.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar el actor</button>
            
            <a  class="botonVolver" href="/actors">Listado de Actores</a></p>

        </form>
    </p>
    
</body>

</html>